git+ssh://dev.techresidents.com/tr/repos/techresidents/lib/python/trpycore.git@0.11.0#egg=trpycore
git+ssh://dev.techresidents.com/tr/repos/techresidents/lib/python/trhttp.git@0.5.0#egg=trhttp
git+ssh://dev.techresidents.com/tr/repos/techresidents/lib/python/trhttp_gevent.git@0.5.0#egg=trhttp_gevent
git+ssh://dev.techresidents.com/tr/repos/techresidents/lib/python/trrackspace.git@0.3.0#egg=trrackspace
