git+ssh://dev.techresidents.com/tr/repos/techresidents/lib/python/trpycore.git@0.12.0#egg=trpycore
git+ssh://dev.techresidents.com/tr/repos/techresidents/lib/python/trhttp_gevent.git@integration#egg=trhttp_gevent
git+ssh://dev.techresidents.com/tr/repos/techresidents/lib/python/trrackspace.git@integration#egg=trrackspace
